<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-4">
        <input
          type="text"
          class="form-control"
          placeholder="Search by name"
          [(ngModel)]="name"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchByName()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Appointments</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let appointment of appointments; let i = index"
          [class.active]="i == currentIndex"
          (click)="setCurrentProduct(appointment, i)"
        >
        {{appointment.userName}}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentProduct">
        <h4>Appointment Detail</h4>
        <div>
          <label><strong>Name:</strong> {{currentProduct.userName}}</label> 
        </div>
        <div>
          <label><strong>Note:</strong> {{currentProduct.Note}}</label>
  
        </div>
        <div>
          <label><strong>Date:</strong> {{currentProduct.appointmentDate}}</label>
        </div>
        <div>
            <label><strong>Time:</strong> {{currentProduct.appointmentTime}}</label>
        </div>
        <a class="m-4 btn btn-sm btn-warning" routerLink="/appointment/{{currentProduct.id}}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentProduct">
        <br />
        <p>Please click on a product</p>
      </div>
    </div>
  </div>