

<div style="width: 500px; margin: auto;">
    <div *ngIf="currentAppointmentEdit" class="edit-form">
      <h4>Appointment Detail</h4>
      <form>
        <div class="form-group">
          <label for="userName">Name</label>
          <input
            type="text"
            class="form-control"
            id="userName"
            [(ngModel)]="currentAppointmentEdit.userName"
            name="userName"
          />
        </div>
        <div class="form-group">
            <label for="appointmentDate">Date</label>
            <input
              type="date"
              class="form-control"
              id="appointmentDate"
              [(ngModel)]="currentAppointmentEdit.appointmentDate"
              name="appointmentDate"
            />

        </div>
          <div class="form-group">
            <label for="appointmentTime">Time</label>
            <input
              type="time"
              class="form-control"
              id="appointmentTime"
              [(ngModel)]="currentAppointmentEdit.appointmentTime"
              name="appointmentTime"
            />

          </div>
        <div class="form-group">
          <label for="Note">Note</label>
          <input
            type="text"
            class="form-control"
            id="Note"
            [(ngModel)]="currentAppointmentEdit.Note"
            name="Note"
          />
        </div>
  
        <div class="form-group">
          <label><strong>Status:</strong> <span style="font-weight: bold;"> {{message}}</span></label>
  
        </div>
      </form>
  
      <button class="m-2 btn btn-sm btn-danger" (click)="deleteProduct()">
        Delete
      </button>
  
      <button
        type="submit"
        class="m-2 btn btn-sm btn-info"
        (click)="updateProduct()"
      >
        Update
      </button>
      <p></p>
    </div>
  
    <div *ngIf="!currentAppointmentEdit">
      <br />
      <p>This product is not accessible</p>
    </div>
  </div>