<div style="width: 500px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="userName"
            required
            [(ngModel)]="appointment.userName"
            name="userName"
          />
        </div>
        <div class="form-group">
          <label for="appointmentDate">Date</label>
          <input
            type="date"
            class="form-control"
            id="appointmentDate"
            [(ngModel)]="appointment.appointmentDate"
            name="appointmentDate"
          />

      </div>
        <div class="form-group">
          <label for="appointmentTime">Time</label>
          <input
            type="time"
            class="form-control"
            id="appointmentTime"
            [(ngModel)]="appointment.appointmentTime"
            name="appointmentTime"
          />

        </div>
        <div class="form-group">
          <label for="description">Note</label>
          <input
            class="form-control"
            id="Note"
            required
            [(ngModel)]="appointment.Note"
            name="Note"
          />
        </div>
  
        <button (click)="createProduct()" class="btn btn-success">Create</button>
      </div>
  
      <div *ngIf="submitted">
        <h3>You successfully created a product!</h3>
        <button class="btn btn-success" (click)="newProduct()">New..</button>
      </div>
    </div>
  </div>